.films-box {
  display: flex;
  grid-gap: 30px;
}

.films-filter {
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 20%;
}

.film-item {
  cursor: pointer;
}

.film-logo:hover, .film-about:hover {
  opacity: 0.7;
}

.film-buttons {
  padding: 8px;
}

.films-container {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}

.last {
  display: flex;
  grid-gap: 4px;
  align-self: flex-end;
}